/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-form button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.success-message {
    font-weight: bold;
    color: green;
}

.error-message {
     font-weight: bold;
    color: red;
    position: relative;
    top: -20px;
}
